body {
    background-color: #dedbd6;
}

.container {
    margin: 50px auto 0;
    font-family: "Trebuchet MS", "Arial", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #969696;

    max-width: 960px;
}
.header {
    padding-top: 30px;
    margin-bottom: 75px;
    position: relative;
}

.header__join_us {
    position: absolute;
    top: 0;
    right: 25px;
}

.join_us__link {
    padding-right: 5px;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    display: inline-block;
    margin-right: 40px;
}

.header__slogan {
    display: inline-block;
}

.header__slogan h1{
    margin: 0;

    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.menu {
    background-color: #e5e4e0;
}

.main_container {
    padding: 0 30px;
}

.menu__list {
    margin: 0;
    padding: 20px 0 20px 20px;
    max-width: 700px;

    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.menu__list__item a{
    display: block;
    padding: 8px 20px;

    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.menu__list__item--active{
    color: #fff;
    background-color: #f45300;
    border-radius: 8px;
}

.menu__list__item--active a {
    color: #fff;
}

.menu__list__item:not(.active) a:hover {
    color: #969696;
}

.main {
    background-color: #fff;
}

.slogan-main {
    width: inherit;
    display: flex;
}

.slogan {
    margin: 30px 0 0;

}

.slogan__img {
    float: left;
}

.slogan__title {

    margin: 0;
    padding-left: 48px;
    color: #000;
    font-size: 14px;
}

.features img{
    width: 100%;
    height: 250px;
}

.service-main {
    margin-top: 30px;
    display:  flex;
    justify-content: space-between;
}

.service {
    max-width: 200px;
}

.service__title {
    margin: 0;

    font-size: 13px;
    color: #000;
    line-height: 20px;
}

.service__description {
    font-size: 12px;

}

.btn_more {
    display: inline-block;
    padding: 10px 25px;

    text-decoration: none;
    font-size: 15px;
    color: #fff;
    border-radius: 25px;
}

.btn_more--1 {
    background-color: #e76827;
}

.btn_more--2 {
    background-color: #6c696b;
}

.btn_more--1:hover {
    color: #fff;
    background-color: #f55909;
}

.btn_more--2:hover {
    background-color: #969696;
}

.work_with_us {
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fbf9f3;
}

.work_with_us__title {
    display: inline-block;
    padding: 35px 0 35px 23px;
    max-width: 525px;

    color: #706d6a;
    font-size: 18px;
    line-height: 35px;
}

.btn_join {
    display: inline-block;
    padding: 20px 25px;
    margin-right: 15px;

    font-size: 20px;
    color: #fff;
    background-color: #f88245;
    border: 4px solid #f1eade;
    border-radius: 40px;
    text-decoration: none;
}

.btn_join:hover {
    background-color: #f55909;;
}

.bottom-content {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.bottom-content__employees {
    width: 550px;
}

.employees__title {
    margin: 0 0 20px 0;

    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}
.user {
    max-width: 230px;
}
.user__head {
    overflow: hidden;
}
.user__right {
    margin-left: 114px;
}
.user__img {
    float: left;
    padding: 14px 7px 10px 14px;

    background-color: #e9e9e9;
    border-radius: 5px;
}
.user__name {
    margin: 0;

    font-size: 13px;
    color: #000;
}
.user__description {
    margin: 0;

    font-size: 10px;
    color: #f55909;
}
.user__content {
    margin: 35px 0 0;
    color: #adadad;
}



.bottom-content__news {
    min-width: 250px;
    margin-right: 40px;

}
.news__block {
    margin-bottom: 22px;
}

.news__title {
    margin: 0 0 20px 0;

    font-size: 14px;
    color: #000;
}

.news__img {
    float: left;
}

.news__name {
    margin: 0 0 0 70px;

    font-size: 13px;
    color: #000;
}

.news__date {
    margin: 0 0 0 70px;
    font-size: 12px;
    color: #adadad;

}
.written_by {
    color: #f55909;
    font-size: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    background-color: #4a4744;
    border-top: 10px solid #615f5d;
}

.full_description {
    width: 600px;
    margin-right: 20px;
}

.full_description__name {
    margin: 0 0 15px 0;

    color: #e5e3dc;
    font-size: 13px;
}

.full_description__description {
    margin: 0;

    font-size: 12px;
    line-height: 20px;
    color: #848484;
}

.description__link {
    text-decoration: none;
    color: #f7f5ee;
}

.description__link:hover {
    color: #27b5ff;
}


.block_news {
    width: 240px;
    margin-right: 60px;
}

.block_news__name {
    margin: 0 0 15px 0;

    color: #f7f5ee;
    font-size: 13px;
}

.last_news {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 13px;
}

.last_news__item {
    text-decoration: none;
    color: #f7f5ee;
    font-size: 12px;
    line-height: 23px;
 }

.last_news__item:hover {
    color: #27b5ff;
}

.footer_wrapper {
    background-color: #3b3836;
}

.footer {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.copy__description {
    color: #737372;
    margin: 0;
}

.copy__description a {
    color: #cfcdc7;
    text-decoration: none;
}

.copy__description a:hover {
    color: #27b5ff;
}


@media only screen and (max-width : 960px) {
    .slogan-main {
        flex-direction: column;
    }
    .service-main {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .service {
        margin: 0 20px;
    }
}

@media only screen and (max-width : 930px) {
    .bottom-content {
        width: inherit;
        flex-wrap: wrap;
    }
    .bottom-content__employees {
        margin-left: 30px;
    }
    .bottom-content__news {
        margin-top: 30px;
        margin-left: 30px;
    }
}

@media only screen and (max-width : 910px) {
    .work_with_us {
        flex-wrap: wrap;
        flex-direction: column;

    }
    .work_with_us__title{
        max-width: none;
        text-align: center;

        margin-top: 30px;
        padding-top: 0;
        padding-bottom: 0;

    }
    .btn_join {
        margin-bottom: 30px;
    }

    .about {
        flex-direction: column;
    }
    .full_description {
        width: auto;
    }
    .block_news {
        margin-top: 30px;
    }
    .block_news__name {
        margin-bottom: 8px;
    }
}

@media only screen and (max-width : 630px) {
    .header {
        margin-bottom: 30px;
    }
    .header__logo {
        display: block;
    }
}

@media only screen and (max-width : 590px) {
    .menu__list {
        justify-content: left;
        flex-wrap: wrap;
    }

    .wrapper {
        flex-direction: column;
    }
    .user {
        margin-bottom: 30px;
    }
    .user__content {
        margin-top: 10px;
    }
    .bottom-content__news {
        margin-top: 10px;
    }
}
@media only screen and (max-width : 570px) {
    .menu__list {
        flex-direction: column;
        padding: 20px;
    }
    .menu__list__item {
        display: inline;
        width: 100%;
    }
    .menu__list__item a{
        padding: 10px 20px;
    }
}
